{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [    
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}